<p>New Form</p>

 {{#if firstStepValue }}
{{#with employee}}
  {{view Ember.TextField valueBinding="first_name" placeholder="First name"}}
  {{view Ember.TextField valueBinding="last_name"  placeholder="Last name"}}
  {{view Ember.TextField valueBinding="city"  placeholder="City"}}
  {{view Ember.TextField valueBinding="age"  placeholder="Age"}}  
{{/with}}
{{/if}}
{{#if secondStepValue }}
  {{#with employee}}
  {{view Ember.Select viewName="select"
                          contentBinding="App.EducationLevels"
                          optionLabelPath="content"                          
                          prompt="Pick a Education Level:"
                          selectionBinding="education_level"
                          }}
  {{view Ember.TextField valueBinding="university"  placeholder="University"}}
{{/with}}
 {{/if}}
{{#if lastStepValue }}
{{#with employee}}
{{view Ember.Select viewName="select"
                          contentBinding="App.WorkExperience"
                          optionLabelPath="content"
                          prompt="Pick a Work Experience:"
                          selectionBinding="work_experience"
                          }} 
 {{view Ember.TextField valueBinding="skills"  placeholder="skills"}}
{{/with}}
 {{/if}}
  <button type="submit" >
    {{#if id}}Update{{else}}{{#if lastStepValue }} Submit {{else}}Next{{/if}}{{/if}}
  </button>
 

<a href="#" {{action "cancelForm"}}>Cancel</a>