<td>{{employee.id}}</td>

  {{#if isEditing}}
  <td class="data" colspan="4">  {{view App.EditEmployeeView}}</td>
  {{else}}  
   <td class="data">   {{employee.fullName}}</td>
   <td class="data">  {{employee.city}}</td>
   <td>{{employee.age}}</td>
   <td>{{employee.education_level}}</td>
   <td>{{employee.work_experience}}</td>
  {{/if}}

<td class="data">
  <div class="commands">
    {{#unless isEditing}}
      <a href="#" {{action "showEdit"}}>Edit</a>
      <a href="#" {{action "destroyRecord"}}>Remove</a>
    {{/unless}}
  </div>
</td>
